button {
    border: none;
    background-color: transparent;
    outline: none;
}
button:focus {
	background-color:red;
  border: none;
}

.boutons{
	border-radius:30px;
	margin-top:3.5rem;
	margin-left:auto;

}

input[type=button] {
    color:#08233e;
    font:18.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:90%;
    cursor:pointer;
    width: 200px;
    height: 60px;
    border-radius: 30px;
}

input[type=button]:hover {
    background-color:rgba(255,204,0,0.8);
}

.canva{
	background-image:url("alvéoles.jpg");

}

body{
	text-align:center;
	background-image:url("Fond_accueil.png.png");
}

table{
  margin: auto;
  text-align:center;
  background-image:url("Fond_accueil.png.png");
  border-spacing: 15px;
}

h1{
	font-size:3.5rem;
	text-align:center;
	margin-top: 15rem;
	color:red;
}
#H1bis{
  margin-left: 7rem;
  margin-right: 8rem;
}