.titre1{
	margin-top:2rem;
}

.logo{
	width: 101px;
	height: 77px;
	margin-left:105rem;
	}

button {
    outline: none;
}
button:focus {
    border: none;
}

.boutons{
	opacity:0.75; 
	border-radius:30px;
	margin-top:3.5rem;
	padding-left:40;
	padding-right:40;
	padding-top:15;
	padding-bottom:15;
	margin-left:auto;

}

p{
	font-size: 1rem;
}

.canva{
	background-image:url("alvéoles.jpg");
	
}

body{
	text-align:center;
	background-image:url("Fond_accueil.png.png");
} 

.tableau{
	border-radius:30px;
	margin-top:0.5rem;
	padding-left:100;
	padding-right:100;
	padding-top:20;
	padding-bottom:150;
	background-color:grey;
	margin-left:auto;
	background: rgba(236, 2360, 25, 0.3);
	/*opacity:0.3;*/
}

h1{
	
	font-size:3.5rem;
	text-align:center;
	margin-top: 15rem;
}
